table {
  border-collapse: collapse;
  text-align: center;
}

table thead tr {
  background-color: chocolate;
  font-weight: bold;
}

table th,
table td {
  border: 2px solid #000;
  padding: 12px 24px;
}

table tbody tr {
  background-color: aliceblue;
}

table tbody tr:nth-child(even) {
  background-color: antiquewhite;
}
